#lingotFer{
    padding-left: 30px;
    width: 200px;
    height: 200px;
}

#bois{
    padding-left: 30px;
    width: 200px;
    height: 200px;
}

#cuir{
    padding-left: 30px;
    width: 200px;
    height: 200px;
}

#hache{
    padding-left: 5px;
    width: 70px;
    height: 70px;
}

#bucheron{
    padding-top: 3px;
    width: 75px;
    height: 75px;
}

#scie{
    width: 100px;
    height: 69px;
}

#tanneur{
    padding-left: 10px;
    width: 40px;
    height: 79px;
}

#marteau{
    width: 95px;
    height: 69px;
}

#forgeron{
    padding-left: 10px;
    width: 40px;
    height: 79px;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Trebuchet MS, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: red;
    background: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#fenetre{
    padding: 0px;
    margin: 0px;
    width: auto;
    /*background-color: pink;*/
    justify-content: center;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#boisInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/foret.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#cuirInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/champ.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#ferInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/mine.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#fintab{
    margin: 0px;
    padding: 0px;
    width: 23px;
    background: url(../images/fintab.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}