#lingotFer{
    width: 200px;
    height: 200px;
}

#bois{
    width: 200px;
    height: 200px;
}

#cuir{
    width: 200px;
    height: 200px;
}

#hache{
    width: 80px;
    height: 80px;
}

#bucheron{
    width: 80px;
    height: 80px;
}

#couteau{
    width: 80px;
    height: 80px;
}

#tanneur{
    width: 80px;
    height: 80px;
}

#marteau{
    width: 80px;
    height: 80px;
}

#forgeron{
    width: 80px;
    height: 80px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Trebuchet MS, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: red;
    background: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#fenetre{
    padding: 0px;
    margin: 0px;
    width: auto;
    justify-content: center;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#boisInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/foret.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#cuirInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/champ.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#ferInterface{
    text-align: center;
    margin: 0px;
    padding: 25px;
    width: 300px;
    background: url(../images/mine.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#blocPersoCraft{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 600px;
    height: 820px;
    background: url(../images/onglet.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

#personnageInterface{
    text-align: center;
    margin: 0px;
    margin-bottom:24px;
    padding-top: 25px;
    padding-left: 25px;
    width: 545px;
    height: 358px;
}

#craftInterface{
    text-align: center;
    overflow: scroll;
    margin: 0px;
    margin-left: 17px;
    padding-top: 25px;
    padding-left: 25px;
    width: 539px;
    height: 365px;
}

#craftInterface p img{
    width: 70px;
    height: 70px;
}

.epee{
    top: 115px;
    left: 75px;
    position: relative;
    width: 90px;
    height: 70px;
}

.bouclier{
    top: 230px;
    left: -20px;
    position: relative;
    width: 90px;
    height: 70px;
}

.casque{
    top: 10px;
    left: 0px;
    position: relative;
    width: 90px;
    height: 70px;
}

.haut{
    top: 115px;
    left: 25px;
    position: relative;
    width: 90px;
    height: 70px;
}

.botte{
    top: 230px;
    left: -70px;
    position: relative;
    width: 90px;
    height: 70px;
}

.planche{
    padding: 10px;
    height: 230px;
    justify-content: center;
    text-align: center;
    background: url(../images/planche.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}